:root {
  --cor-principal: #225d99;
  --cor-principal-hover: #154a80;
  --cor-outline: #e1ad33;

  --cor-fundo-body-light: #f5f5f6;
  --cor-padrao-light: white;
  --color-padrao-light: #333;

  --cor-fundo-body-dark: #333;
  --cor-padrao-dark: #444;
  --color-padrao-dark: #fff;
}

.cabecalho-card {
  display: flex;
  align-items: center;
  margin: 0px;
  gap: 10px;
}

#informacoes-principais-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-informacoes h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
}

.card-informacoes h1 {
  margin: 0;
  margin-top: 6px;
  font-size: 20px;
  font-weight: bolder;
  opacity: 0.8;
}

.card-icone {
  width: 60px;
  height: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icone i {
  background-color: rgba(152, 204, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.card-informacoes {
  display: flex;
  background-color: var(--color-padrao-dark);
  max-width: 220px;
  height: 70px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  gap: 10px;
  width: 300px;
}

.cabecalho-crafts-tenis {
  display: flex;
  align-items: center;
}

.cabecalho-graficos-tenis {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.mostrar-todos-crafts {
  color: rgb(104, 104, 104);
  position: absolute;
  right: 45px;
}

.card-calcados img {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.nome-calcado {
  margin-top: 4px;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  margin-left: 16px;
}

#carrossel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#exibir_calcados {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card-calcados {
  flex: 0 0 auto;
  width: 120px;
  margin-right: 20px;
}

.card-calcados img {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.nome-calcado {
  margin-top: 4px;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
}

.carrossel-controls {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carrossel-controls button {
  background: rgb(206, 206, 206);
  border-radius: 50%;
  border: none;
  color: var(--corprincipal);
  padding: 10px;
  cursor: pointer;
}

#exibir_calcados::-webkit-scrollbar {
  display: none;
}

#carrossel {
  position: relative;
}

.carrossel-controls {
  position: absolute;
  top: 42%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

@media screen and (max-width: 1400px) {
  .carrossel-controls {
    gap: 85% !important;
  }
  #informacoes-principais-container {
    gap: 10px;
  }
}

@media screen and (max-width: 690px) {
  .carrossel-controls {
    gap: 75% !important;
  }

  .card-informacoes {
    width: 100%;
    max-width: 100%;
    gap: 10px;
  }

  #informacoes-principais-container {
    gap: 1px;
  }

  .content1 {
    margin-top: 85px;
  }
}

.carrossel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95%;
}

.carrossel-controls button {
  pointer-events: all;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.mostrar-todos-crafts i {
  font-size: 12px;
}

#container-graficos {
  width: 100%;
  gap: 30px;
}

.graficos {
  margin-top: 20px;
  width: 80%;
  border-radius: 10px;
  padding: 10px 30px;
  padding-bottom: 40px;
  background-color: var(--cor-padrao-light);
}


body.light-mode .carrossel-controls button {
  background: rgb(0, 0, 0, 0.6);
  color: #fff;
}

body.dark-mode .carrossel-controls button {
  background: rgb(0, 0, 0, 0.3);
  color: #fff;
}

body.dark-mode .card-calcados img {
  background-color: var(--cor-padrao-dark);
}

body.dark-mode .mostrar-todos-crafts {
  color: rgb(168, 167, 167);
}

body.dark-mode .card-informacoes {
  background-color: var(--cor-padrao-dark);
}

body.dark-mode .graficos {
  background-color: var(--cor-padrao-dark);
  color: #fff;
}

body.light-mode .graficos {
  background-color: var(--cor-padrao-light);
  color: var(--color-padrao-light);
}

@media screen and (max-width: 1500px) {
  .graficos {
    width: 88%;
  }
}

@media only screen and (max-width: 690px) {
  #tela-inicial {
    margin-left: 120px;
  }
  #container-graficos {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 600px) {
  #tela-inicial {
    margin-left: 0;
  }
}