:root {
  --corprincipal: #225d99;
  --corprincipalhover: #154a80;
  --cor-outline: #e1ad33;
  --corterciaria: #426441;
  --corterciariahover: #2e4b2d;
  --corfundo: #f5f6f6;
  --corfundosecundaria: white;
  --cortextoprincipal: black;
  --cortextoprincipalhover: #d8d8d8;
}

#visualizadorSapato{
width: 80%;
}

#cadastrar-calcado {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.input {
  display: flex;
  flex-direction: column;
}

.foto__image {
  display: block;
  width: 100px;
  height: 100px;
  background: #f0f0f0;
  border: 1px solid #ddd;
}
.foto {
  border-radius: 23px;
  width: 150px;
  height: 150px;
  aspect-ratio: 16/9;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #747474;
  border: 1px solid currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.foto1 {
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 23px;
  width: 150px;
  height: 150px;
  aspect-ratio: 16/9;
  background-image: url(../fotos-usuarios/semfoto.png);
  background-size: 100% 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  position: relative;
}

.foto:hover {
  color: #777;
  background: #e8e8e8;
}

.foto:active {
  border-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  background: #eee;
}

.foto:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.foto__img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.remover-foto {
  top: -20px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 14px;
  padding: auto;
  background-color: transparent;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: -50px;
  margin-left: 130px;
  border: none;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  transition: 0.2s all linear;
}

.remover-foto:hover {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 13px;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.2s all linear;
}

#input-imagem-calcado,
#input-imagem-3d-calcado {
  display: none;
}


.input-nome label {
  background-color: var(--corfundo);
  position: absolute;
  top: 13%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--cortextosecundario);
  font-size: 19px;
  pointer-events: none;
  transition: .3s;
}

.input label {
  font-size: 14px
}

.foto {
  border-radius: 23px;
  width: 150px;
  height: 150px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #747474;
  border: 1px solid currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.foto:hover {
  color: #777;
  background: #e8e8e8;
}

.foto:active {
  border-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  background: #eee;
}

.foto:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button[type="submit"] {
  text-transform: uppercase;
  background-color: var(--corprincipal);
  color: var(--corfundo);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 24px;
  font-size: 16px;
}

button[type="submit"]:hover {
  background: var(--corprincipalhover);
}

.enviar {
  display: inline-block;
}

.container-progresso {
  width: 80%;
  margin-bottom: 20px;
  position: relative;
  margin-right: 109px;
}

.barra-progresso {
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  height: 5px;
  position: relative;
}

.progresso {
  height: 100%;
  width: 0;
  background: var(--cor-principal);
  transition: width 0.3s ease;
}

.numeros-progresso {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
}

.numero {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s ease, color 0.3s ease;
  background: #ddd;
  color: black;
  position: relative;
}

.numero.ativo {
  background: var(--cor-principal);
  color: white;
  box-shadow: 0 0 3px black;
}

#conteudo {
  margin-top: 20px;

  height: 500px;
  display: flex;
  align-items: center;
}

.passo {
  display: none;
}

.passo.ativo {

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
#conteiner-botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#voltar,
#proximo {
  padding: 10px 20px;
  background: var(--cor-principal);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  margin: 5px;
}

body.light-mode .informacoes-demanda {
  background-color: var(--cor-padrao-light);
  color: #000;
}

body.dark-mode .informacoes-demanda {
  background-color: var(--cor-padrao-dark);
  color: #fff;
}


body.dark-mode .barra-progresso {
  background: var(--cor-padrao-dark);
}

body.dark-mode .numero.ativo {
  background: var(--cor-principal);
  color: white;
  box-shadow: 0 0 2px black;
}

body.dark-mode .numero {
  color: rgb(245, 245, 246, 0.6);
  background: var(--cor-padrao-dark);
}




body.dark-mode .grupo-controle select {
  background-color: var(--cor-padrao-dark);
  color: var(--corfundo);
}

body.dark-mode .input label {
  background-color: var(--cor-padrao-dark);
  color: var(--corfundo);
}

body.dark-mode .input input:valid ~ label,
.input input:focus ~ label {
  background-color: transparent !important;
}

body.light-mode .input label {
  background-color: var(--cor-padrao-light);
  color: var(--color-padrao-light);
}

body.light-mode .input input:valid ~ label,
.input input:focus ~ label {
  background-color: transparent !important;
}

body.dark-mode .select-material {
  background-color: var(--cor-padrao-dark);
  color: var(--corfundo);
}

body.light-mode .grupo-controle select {
  background-color: var(--cor-padrao-light);
  color: var(--color-padrao-light);
}

body.light-mode .input select {
  background-color: var(--cor-padrao-light);
  color: var(--color-padrao-light);
}

body.dark-mode .input select {
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

body.dark-mode .inputt {
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

body.light-mode .foto__image {
  background-color: var(--cor-padrao-light);
  border: 1px solid var(--cor-padrao-light);
}
body.dark-mode .foto__image {
  background-color: var(--cor-padrao-dark);
  border: 1px solid var(--cor-padrao-dark);
}
