@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

:root {
    --corprincipal: #225d99;
    --corprincipalhover: #154a80;
    --cor-outline: #e1ad33;
    --corterciaria: #426441;
    --corterciariahover: #2e4b2d;
    --corfundo: #f5f6f6;
    --corfundosecundaria: white;
    --cortextoprincipal: black;
    --cortextoprincipalhover: #d8d8d8;
}

body {
    background-color: var(--corfundo);
    font-family: Outfit;
    margin: 0;
}

#cadastrar-calcado {
    /* background-color: #FFFFFF; */
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.input {
    position: relative;
    flex: 1 1 calc(50% - 20px); /* Cada input ocupará 50% da largura menos a margem */
    box-sizing: border-box;
    margin-bottom: 20px;
}

.input.input-nome {
    flex: 1 1 100%; /* O input de nome ocupará 100% da largura do contêiner */
}
.input.ultimo {
    flex: 1 1 100%;
}

.input input, .input select {
    width: 80%;
    height: 50px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 1px solid var(--cortextosecundario);
    outline: none;
    transition: border-color 0.3s ease-in-out;
    background-color: var(--corfundosecundaria);
}
.input select {
    width: 85%;
}
.input.input-nome input{
    width: 90%;
}

.input label {
    background-color: var(--corfundosecundaria);
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--cortextosecundario);
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

.input input:valid~label, .input input:focus~label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 1px;
    color: var(--cortextosecundario);
}

.input input:focus, .input input:not(:placeholder-shown) {
    border-color: var(--cortextosecundario);
}

.input input:focus~label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 1px;
    background: transparent;
    color: var(--corprincipal);
}

.ultimo select{
    max-width: 42%;
}



button[type="submit"]:hover {
    background: var(--corprincipalhover);
}

.container-img {
    display: flex;
}




.baixo .container-img{
    margin-bottom: 30px;
}

.baixo{
    display: flex;
}

.escolha{
    padding: 15px 0;
}

.escolha1{
   padding: 15px 20px;
}

.baixo2{
    display: inline-block;
    margin-top: -40px;
}

.enviar{
    margin-top: 15px;

}

#foto__input1 {
  display: none;
}

.foto {

  border-radius: 23px;
  width: 150px;
  height: 150px;
  aspect-ratio: 16/9;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #747474;
  border: 1px solid currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}



.foto1 {
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 23px;
  width: 150px;
  height: 150px;
  aspect-ratio: 16/9;
  background-image: url(../fotos-usuarios/semfoto.png);
  background-size: 100% 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
    position: relative; /* Adicionando position: relative; para uso de position:absolute; */

}




.foto:hover {
  color: #777;
  background: #e8e8e8;
}

.foto:active {
  border-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  background: #eee;
}

.foto:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto__img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para preencher o espaço mantendo a proporção */
  object-position: center;
  position: relative; /* Posicionamento absoluto para ocupar todo o espaço do contêiner */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.foto__img1 {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para preencher o espaço mantendo a proporção */
  object-position: center;
  position: absolute; /* Posicionamento absoluto para ocupar todo o espaço do contêiner */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.remover-foto {
  top: -20px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 14px;
  padding: auto;
  background-color: transparent;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: -50px;
  margin-left: 130px;
  border: none;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  transition: 0.2s all linear;
}

.remover-foto:hover {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 13px;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.2s all linear;
}

#input-imagem-calcado,
#input-imagem-3d-calcado {
  display: none;
}

.foto {
  border-radius: 23px;
  width: 150px;
  height: 150px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #747474;
  border: 1px solid currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.foto:hover {
  color: #777;
  background: #e8e8e8;
}

.foto:active {
  border-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  background: #eee;
}

.foto:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button[type="submit"] {
    text-transform: uppercase;
    background-color: var(--corprincipal);
    color: var(--corfundo);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 24px;
    font-size: 16px;
}
.enviar{
    display: inline-block;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .input {
        flex: 1 1 100%; /* Faz com que cada input ocupe 100% da largura */
    }
    .input.input-nome input{
        max-width: 80%;

    }
    .ultimo select{
        max-width: 85%;
    }
    .container-img {
        display: block;
    }
    .input-img {
        margin-bottom: 10px;
        padding: 0;
    }
    #cadastrar-calcado {
        max-height: auto;
    }
}
