#tela-feedbacks{ 
    padding: 10px 40px;
    height: auto;
    margin-bottom: 500px;
}    

.avaliacao, .nome-feedback, #titl {
    margin: 0;
}

#titl {
    margin-bottom: 20px;
}

.usuario-card {
    background-color: var(--cor-padrao-light);
    padding: 15px 30px;
    margin-bottom: 20px;
}

.nome-feedback {
    margin-top: 10px;
    margin-bottom: 10px;
}    

.container-avaliacao {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}    

.avaliacao {
    display: inline-block;
    direction: rtl;
}    

.avaliacao label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../../assets/imagens/star-empty.svg') no-repeat center;
    background-size: contain;
}    

.avaliacao .estrela-cheia {
    background: url('../../../assets/imagens/star-full.svg') no-repeat center;
    background-size: contain;
} 

.comentario {
    opacity: .8;
}

@media (max-width: 600px) {
    .feedbacks-container {
        margin-bottom: 80px;
    }
}