

.chat-container {
    width: 80%;
    max-width: 800px;
    height: 60vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.mensagens {
    overflow-y: auto;
}

.campo-envio {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.campo-envio input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.campo-envio button {
    background-color: #3498db;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.campo-envio button i {
    font-size: 20px;
}

.mensagem-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.foto-perfil {
    background-color: rgb(185, 183, 183);
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.conteudo-mensagem {
    display: flex;
    flex-direction: column;
}

.nome-usuario {
    font-weight: bold;
    font-size: 12px;
}

.texto-mensagem {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 30ch;
}

.mensagem-propria {
    justify-content: flex-end;
}

.mensagem-propria .nome-usuario {
    margin-left: auto;
    margin-right: 25px;
}

.mensagem-propria .foto-perfil {
    margin-left: auto;
    margin-top: -15px;
}

.mensagem-outro .nome-usuario {
    margin-right: auto;
    margin-left: 25px;
}

.mensagem-outro .foto-perfil {
    margin-right: auto;
    margin-top: -15px;
}

.mensagem-propria .texto-mensagem {
    background-color: #3498db;
    color: #ffffff;
}

.mensagem-outro .mensagem-container {
    justify-content: flex-start;
}

.mensagem-outro .texto-mensagem {
    background-color: #f0f0f0;
}