:root {
  --corprincipal: #225d99;
  --corprincipalhover: #154a80;
  --cor-outline: #e1ad33;
  --corterciaria: #426441;
  --corterciariahover: #2e4b2d;
  --corfundo: #f5f6f6;
  --corfundosecundaria: white;
  --cortextoprincipal: black;
  --cortextoprincipalhover: #d8d8d8;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grid-container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
}
#cadastrar-funcionarios {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

.input-sub {
  margin-top: 40px;
}
#titl {
  font-size: 20px;
}
input[type="submit"] {
  text-transform: uppercase;
  background-color: var(--corprincipal);
  color: var(--corfundo);
  border: none;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 24px;
  font-size: 12px;
  font-weight: bold;
  transition: 0.2 all linear;
}

input[type="submit"]:hover {
  transition: 0.2 all linear;
  background: var(--corprincipalhover);
}

