:root {
  --corprincipal: #225d99;
  --corprincipalhover: #154a80;
  --cor-outline: #e1ad33;
  --corterciaria: #426441;
  --corterciariahover: #2e4b2d;
  --corfundo: #f5f6f6;
  --corfundosecundaria: white;
  --cortextoprincipal: black;
  --cortextoprincipalhover: #d8d8d8;
}

#cadastrar-funcionarios {
  width: 100%;
  max-width: 673px;
  padding: 15px 0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-container1 {
  display: flex;
  gap: 20px;
}

.input-sub {
  margin-top: 20px;
}

#titl {
  font-size: 20px;
}

input[type="submit"] {
  background-color: var(--corprincipal);
  color: var(--corfundo);
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2 all linear;
  width: 330px;
}

input[type="submit"]:hover {
  transition: 0.2 all linear;
  background: var(--corprincipalhover);
}

@media (max-width: 768px) {
  #container-cadastrar {
    display: flex;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
  }
}
