:root {
  --cor-principal: #225d99;
  --cor-principal-hover: #154a80;
  --cor-outline: #e1ad33;

  --cor-fundo-body-light: #f5f5f6;
  --cor-padrao-light: white;
  --color-padrao-light: #333;

  --cor-fundo-body-dark: #333;
  --cor-padrao-dark: #444;
  --color-padrao-dark: #fff;
}

#perfil h1, #perfil h2, #perfil h3, #perfil h4, #perfil h5, #perfil h6 {
  margin: 0;
}

#tela-meu-perfil {
  padding: 10px 20vh;
}

#perfil {
  margin-bottom: 30px;
}

#container-informacoes-gerais {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
}

#container-informacoes-gerais h4 {
  font-weight: 300;
}

#container-informacoes-esquerda {
  display: flex;
  gap: 20px;
  align-items: center;
}

#container-informacoes-esquerda img {
  border-radius: 50%;
}

.bater-ponto-button, .historico_de_pontos {
  background-color: var(--cor-principal);
  border: none;
  border-radius: 4px;
  color: var(--color-padrao-dark);
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.bater-ponto-button:hover {
  background-color: var(--cor-principal-hover);
}

#container-ponto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.card-ponto {
  background-color: var(--color-padrao-dark);
  padding: 25px 40px;
  border-radius: 10px;
  text-align: center;
  gap: 30px;
  width: 200px;
}

.conteudo-ponto {
  margin-top: 10px;
  opacity: .8;
}

@media (max-width: 1341px) {
  #tela-meu-perfil {
    padding: 40px 8vh;
  }
}

@media (max-width: 1251px) {
  #tela-meu-perfil {
    padding: 40px 4vh;
  }

  #container-informacoes-esquerda {
    margin-bottom: -20px;
  }
}

@media (max-width: 1040px) {
  #container-informacoes-direita {
    display: block;
    margin-top: -65px;
  }
}

@media (max-width: 993px) {
  #tela-meu-perfil {
    padding: 40px 5vh;
  }

  #perfil {
    display: block;
    gap: 0px;
  }

  #container-informacoes-esquerda {
    margin-bottom: -80px;
  }

  #container-informacoes-direita {
    display: block;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  #tela-meu-perfil {
    padding: 40px 5vh;
  }

  #container-informacoes-esquerda {
    margin-bottom: -70px;
  }

  .card-ponto {
    width: 100%;
  }

  .card-informacoes {
    width: 100%;
    background-color: red;
  }
}