#tela-cadastro-especificacoes {
  padding: 50px 7% 0 7%;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10%;
}

@media only screen and (max-width: 690px) {
  #grid {
    margin-left: 20px;
  }
  #titl {
    margin-left: 20px;
  }
}

#cadastrar-especificacoes {
  width: 100%;
  max-width: 1100px;
  padding: 10px;
  box-sizing: border-box;
}

.cadastrar-especificacoes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#titl {
  font-size: 20px;
}

button[type="submit"] {
  background-color: var(--corprincipal);
  color: var(--corfundo);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s linear;
  height: 53px;
  width: 180px;
}

button[type="submit"]:hover {
  background-color: var(--corprincipalhover);
}

.input input,
.input select {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 938px) {
  .botao {
    width: 332px !important;
    max-width: 400px !important ;
  }

  .cadastrar-especificacoes {
    gap: 0;
  }

  #grid {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .input input,
  .input select {
    height: 45px;
    font-size: 18px;
  }

  .input label {
    font-size: 16px;
  }

  .input input:focus ~ label,
  .input input:valid ~ label {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  #tela-cadastro-especificacoes {
    padding-bottom: 120px;
  }

  #grid {
    max-width: 332px;
    margin: 0 auto;
  }

  #tela-cadastro-especificacoes h1 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .input input,
  .input select {
    height: 40px;
    font-size: 16px;
  }

  .input label {
    font-size: 14px;
  }

  .input input:focus ~ label,
  .input input:valid ~ label {
    font-size: 10px;
  }
}

.inputt {
  width: 300px !important;
  max-width: 300px !important;
}
