.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

#cadastrar-especificacoes {
  width: 100%;
  max-width: 1100px;
  padding: 10px;
}

#titl {
  font-size: 20px;
}

button[type="submit"] {
  background-color: var(--corprincipal);
  color: var(--corfundo);
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2 all linear;
  width: 230px;
}

button[type="submit"]:hover {
  transition: 0.2 all linear;
  background: var(--corprincipalhover);
}

body.dark-mode .inputt {
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

body.dark-mode .input label {
  background-color: var(--cor-padrao-dark);
  color: var(--corfundo);
}

body.dark-mode .input input:valid~label,
.input input:focus~label {
  background-color: transparent !important;
}

body.light-mode .input label {
  background-color: var(--cor-padrao-light);
  color: var(--color-padrao-light);
}

body.light-mode .input input:valid~label,
.input input:focus~label {
  background-color: transparent !important;
}