:root {
  --cor-principal: #225d99;
  --cor-principal-hover: #154a80;
  --cor-outline: #e1ad33;
  --cor-fundo-body-light: #f5f5f6;
  --cor-fundo-body-dark: #222;
  --cor-padrao-light: white;
  --cor-padrao-dark: #444;
  --color-padrao-light: #333;
  --color-padrao-dark: #fff;
}

body.light-mode {
  background-color: var(--cor-fundo-body-light);
  color: var(--color-padrao-light);
}

body.dark-mode {
  background-color: var(--cor-fundo-body-dark);
  color: var(--color-padrao-dark);
}

/* Aplica o estilo para todos os elementos */
body.light-mode * {
  color: var(--color-padrao-light);
}

body.dark-mode * {
  color: var(--color-padrao-dark);
}

/* Estilos para a navbar */
body.light-mode .navbar {
  background-color: var(--cor-padrao-light);
  color: #000; /* cor do texto na navbar em modo claro */
}

body.dark-mode .navbar {
  background-color: var(--cor-padrao-dark);
  color: #fff; /* cor do texto na navbar em modo escuro */
}
