.navbar {
    height: 96vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    color: #000000;
    padding: 20px;
}

.icon-space {
    margin-right: 30px;
}

.space {
    margin-right: 10px;
}

.menu-section,
.settings-section {
    margin-bottom: 20px;
    margin-top: 50PX;
}

.menu-section h3,
.settings-section h3 {
    cursor: pointer;
}

.submenu-item:hover {
    background-color: #008080;
    border-radius: 10px;
    padding: 10px;
    width: 240px;
    color: #fff;
    font-weight: bold;
}

.submenu-item {

    padding: 10px;
}

.submenu {
    display: block;
}

.submenu.visible {
    display: none;/
}

.search-bar {

    margin-top: 10px;
}

.search-bar input[type="search"] {
    margin-top: 20px;
    padding: 10px;
    width: 240px;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #008080;
    padding-left: 35px;
    padding-right: 20px;
}

.search-bar input[type="search"]::placeholder {
    color: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#sea {
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
    color: #fff;
}

.logout-button {
    margin-top: 250px;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #008080;
    color: #fff;
    border: none;
    cursor: pointer;
}

.to-con {
    width: 35px;
    height: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    transition: 200ms ease-in-out background-color;
}

.to {
    position: absolute;
    left: 5px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 200ms ease-in-out left;
}

.to::before {
    content: "\f185";
    font-family: "Font Awesome 5 Free";
    font-size: 0.80rem;
    background-color: #008080;
    color: #ffffff;
    position: absolute;
    padding: 7px;
    padding-right: 7px;
    border-radius: 50%;
    transform: translate(-19%, -51%);
    transition: 200ms ease-in-out color;
}

input:checked~label .to-con {
    background-color: #000000;
}

input:checked~label .to {
    left: calc(44% + 5px);
}

input:checked~label .to::before {
    content: "\f186";
    color: #ffffff;
    padding-left: 7px;
    padding-right: 5px;
}

#labe {
    cursor: pointer;
}

#inputto {
    display: none;
}

#menuIcon,
#settingsIcon {
    position: absolute;
    margin-top: -44px;
    margin-left: 220px;
}

@media only screen and (min-width: 550px) {
    .navbar {
        width: 250px;
    }

    .submenu {
        display: block;
    }

    .search-bar input[type="search"] {
        width: 240px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        width: 80px;
    }

    .search-bar input[type="search"] {
        width: 90px;
        margin-left: -10px;
        font-size: 10px;
    }

    .search-bar input[type="search"]::placeholder {
        font-size: 7px;
    }

    .submenu-item {
        text-align: center;
        padding: 10px 0;
    }

    #settingsIcon {
        display: none;
    }

    #menuIcon {
        display: none;
    }

    .submenu-item {
        margin-left: 20px;
        padding: 10px;
        max-width: 17px;
    }

    .submenu-item:hover {
        background-color: #008080;
        border-radius: 10px;
        padding: 10px;
        color: #fff;
        font-weight: bold;
        max-width: 17px;
    }

    #salvos::after {
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 620px;
    }

    #salvos:hover::after {
        display: block;
    }

    #salvos[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #Informacoes::after {
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 580px;
    }

    #Informacoes:hover::after {
        display: block;
    }

    #Informacoes[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #Clientes::after {
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 215px;
    }

    #Clientes:hover::after {
        display: block;
    }

    #Clientes[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #cad::after {
        width: 200px;
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 250px;
    }

    #cad:hover::after {
        display: block;
    }

    #cad[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #at::after {
        width: 200px;
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 290px;
    }

    #at:hover::after {
        display: block;
    }

    #at[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #ar::after {
        width: 200px;
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 325px;
    }

    #ar:hover::after {
        display: block;
    }

    #ar[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #estoque::after {
        width: 200px;
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 365px;
    }

    #estoque:hover::after {
        display: block;
    }

    #estoque[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #Venda::after {
        width: 200px;
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 405px;
    }

    #Venda:hover::after {
        display: block;
    }

    #Venda[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #rel::after {
        width: 200px;
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background-color: #008080;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        left: 150px;
        top: 445px;
    }

    #rel:hover::after {
        display: block;
    }

    #rel[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        display: block;
    }

    #sea {
        position: absolute;
        margin-top: 30px;
        margin-left: 3px;
        color: #fff;
        font-size: 10px;
    }

    #menuHeader {
        font-size: 15px;
        margin-left: 15px;
    }

    #settingsHeader {
        font-size: 15px;
        margin-left: 1px;
    }

    .logout-button {
        font-size: 14px;
        position: absolute;
        bottom: 20px;
        left: 15px;
        padding: 10px;
        border-radius: 5px;
        background-color: #008080;
        color: #fff;
        border: none;
        cursor: pointer;
    }

}