@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

:root {
  --corprincipal: #008080;
  --mham-200: #4ecdc4;
  --mham-300: #d3eddc;
  --mham-400: #5dade2;
  --corfundo: #ffffff;
  --corfundosecundaria: #eeeeee;
}

:root {
  --corfundo: #ffffff;
  --corfundosecundaria: #282828;
  --cortextoprincipal: #FFFFFF;
  --cortextoprincipalhover: rgb(216, 216, 216);
  --cortextosecundario: rgb(158, 158, 158);
  --cortextosecundariohover: #7e7e7e;
  --cortextoerro: #f15252;
  --cortextoerrohover: #cc3a3a;
}

/* Input */

.input {
  position: relative;
  margin-bottom: 20px;
}

.input input {
  width: 400px;
  height: 45px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 1px solid var(--cortextosecundario);
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background-color: var(--corfundo);
}

.input label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--cortextosecundario);
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}

.input input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 1px;
  background: var(--corfundo);
  color: var(--cortextosecundario);
}

.input input:focus,
.input input:not(:placeholder-shown) {
  border-color: var(--cortextosecundario);
}

.input input:focus ~ label {
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 1px;
  background: var(--corfundo);
  color: var(--corprincipal);
}

.input select {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 1px solid var(--cortextosecundario);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input input:focus {
  border-color: var(--corprincipal);
}

.content {
  margin-left: 290px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .content {
    margin-left: 120px;
  }
}

.content1 {
  margin-left: 240px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .content1 {
    margin-left: 120px;
  }
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

body.dark-mode a {
  color: rgb(255, 255, 255);
}
