:root {
  --cor-principal: #225d99;
  --cor-principal-hover: #154a80;
  --cor-outline: #e1ad33;

  --cor-fundo-body-light: #f5f5f6;
  --cor-padrao-light: white;
  --color-padrao-light: #333;

  --cor-fundo-body-dark: #333;
  --cor-padrao-dark: #444;
  --color-padrao-dark: #fff;
}

body.light-mode {
  background-color: var(--cor-fundo-body-ligth-ligth);
  color: #333;
}
body.dark-mode {
  background-color: var(--cor-fundo-body-dark-dark);
  color: #fff;
}

body.light-mode .navbar {
  background-color: var(--cor-padrao-light);
  color: #000;
}

body.dark-mode .navbar {
  background-color: var(--cor-padrao-dark);
  color: #fff;
}

body.light-mode {
    background-color: var(--cor-fundo-body-light);
    color: var(--color-padrao-light);
}

body.dark-mode {
    background-color: var(--cor-fundo-body-dark);
    color: var(--color-padrao-dark);
}

body.light-mode .mobile-navbar {
  background-color: var(--cor-padrao-light);
  color: var(--color-padrao-light);
}

body.dark-mode .mobile-navbar {
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

/* body.dark-mode .mobile-navbar .indicador::after,
body.dark-mode .mobile-navbar .indicador::before {
  background-color: var(--cor-padrao-dark);
    box-shadow: 0px -11px 0 0 var(--cor-fundo-body-dark);
} */


body.dark-mode .mobile-navbar .indicador {
  background-color: var(--cor-principal);
  border: 6px solid var(--cor-fundo-body-dark);
}

body.dark-mode  .mobile-navbar ul li .icone,
body.dark-mode  .mobile-navbar ul li .label {
    color: var(--color-padrao-dark);
}

body.dark-mode .header_mobile {
  background-color: var(--cor-padrao-dark);
}

body.dark-mode .container-toggle {
  background-color: #555454;
}

body.dark-mode .to-con {
  background-color: #555454;
}

body.dark-mode #nome_user {
  color:var(--color-padrao-dark);
}

body.light-mode .container-toggle {
  background-color: #ebeaea;
}

body.light-mode .to-con {
  background-color: #ebeaea;
}