
body.light-mode .search-usuario input[type="text"],
body.light-mode #searchInputUsuario,
body.light-mode .usuario-card {
    background-color: var(--cor-padrao-light);
    color: var(--color-padrao-light);
    border-color: var(--color-padrao-light);
}

body.dark-mode {
    background-color: var(--cor-fundo-body-dark);
    color: var(--color-padrao-dark);
}

body.dark-mode .search-usuario input[type="text"],
body.dark-mode #searchInputUsuario,
body.dark-mode .usuario-card {
    background-color: var(--cor-padrao-dark);
    color: var(--color-padrao-dark);
    border-color: var(--color-padrao-dark);
}
