

main {
    display: flex;
    height: 100%;
    align-items: center;
}

#btn-entrar {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
    border: none;
    box-sizing: border-box;
    font-weight: bolder;
    background-color: var(--corprincipal);
    font-size: 15px;
    color: var(--corfundo);
}

.container-textos-form {
    text-align: center;
    margin-bottom: 30px;
}

.container-esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--corfundo);
    width: 60%;  
}

.container-direito {
    background-image: url('../../../assets/imagens/foto-tela-inicial.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 40%;
}



#cadastro-separacao{
    margin: 30px 0px 30px 0px;
    border-color: var(--corfundo);
}

#cadastro-outra-opcao {
    position: relative;
    text-align: center;

}

#cadastro-texto-outro {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);
    background-color: var(--corfundo);
    color: #828282;
    padding: 0 5px;
    
}

#login-google {
    background-color: var(--corfundosecundaria);
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
    border: none;   
    font-size: 15px;   
    padding: 10px;
    cursor: pointer;
}

#login-google p {
    margin: 0;
    margin-top: 3px;
}

#cadastro-imagem-google {
    max-width: 24px;
    float: left;
}

.container-textos-form img {
    max-width: 200px;
    filter: drop-shadow(0 0 2px #353d467c);
}

@media (max-width: 960px) {
    .container-direito {
        display: none;
    }

    .container-esquerdo {
        width: 100%;
    }
}