:root {
  --cor-principal: #225d99;
  --cor-principal-hover: #154a80;
  --cor-outline: #e1ad33;

  --cor-fundo-body-light: #f5f5f6;
  --cor-padrao-light: white;
  --color-padrao-light: #333;

  --cor-fundo-body-dark: #333;
  --cor-padrao-dark: #444;
  --color-padrao-dark: #fff;
}

#div-geral-chat {
  border-radius: 10px;
  padding-top: 50px;
  height: 85vh;
  background-color: var(--cor-padrao-light);
}

.chat-container {
  margin-right: 10px;
  float: right;
  width: 80%;
  max-width: 70%;
  height: 70vh;
  background-color: var(--cor-padrao-light);
  border-radius: 10px;
  overflow-y: scroll;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--color-padrao-light);
}

.chat-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.campo-envio {
  float: right;
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70%;
  background-color: var(--cor-padrao-light);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  color: var(--color-padrao-light);
  margin-top: -30px;
}

#entradaMensagem {
  background-color: var(--cor-padrao-light);
}

.campo-envio input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.campo-envio button {
  background-color: var(--cor-principal);
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.mensagem-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.foto-perfil {
  background-color: rgb(185, 183, 183);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.foto-usuario {
  background-color: rgb(185, 183, 183);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.foto-usuario-conversa {
  background-color: rgb(185, 183, 183);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.foto-cont {
  margin-top: -3px;
  margin-right: 10px;
}
.conteudo-mensagem {
  display: flex;
  flex-direction: column;
}

.nome-usuario {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 73px;
  font-weight: bold;
  font-size: 12px;
}

.texto-mensagem {
  margin: 10px;
  display: inline-flex;
  position: relative;
  padding: 8px;
  border-radius: 5px;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 30ch;
}

.mensagem-propria .texto-mensagem {
  border-radius: 5px 0px 5px 5px;
}

.mensagem-propria .texto-mensagem::after {
  content: "";
  display: block;
  background-color: var(--cor-principal);
  width: 10px;
  height: 10px;
  position: absolute;
  margin-top: auto;
  right: -7px;
  top: -0;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  transform: rotate(90deg);
}

.mensagem-outro .texto-mensagem::before {
  content: "";
  display: block;
  background-color: #f0f0f0;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-top: auto;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  margin-left: -20px;
  margin-right: 5px;
  margin-top: -8px;
  transform: rotate(270deg);
}

#nomeConversaAtual {
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: 25%;
  padding: 10px;
  border-bottom: 1px solid rgb(204, 204, 204, 0.5);
  margin-bottom: 10px;
}

body.dark-mode #nomeConversaAtual {
  border-bottom: 1px solid rgb(99, 99, 99, 0.4);
}

body.dark-mode .mensagem-outro .texto-mensagem::before {
  background-color: #555;
}

.mobile-navbar .indicador::before {
  left: unset;
  right: -21px;
  border-top-right-radius: 0;
  border-top-left-radius: 22px;
}

.mensagem-propria {
  justify-content: flex-end;
}

.mensagem-propria .nome-usuario {
  margin-left: auto;
  margin-right: 30px;
}

.mensagem-propria .foto-perfil {
  margin-left: auto;
  margin-top: -19px;
}

.mensagem-propria .texto-mensagem {
  background-color: var(--cor-principal);
  color: #ffffff;
}

.mensagem-outro .mensagem-container {
  justify-content: flex-start;
}

.mensagem-outro .nome-usuario {
  margin-right: auto;
  margin-left: 30px;
}

.mensagem-outro .foto-perfil {
  margin-right: auto;
  margin-top: -19px;
}

.mensagem-outro .texto-mensagem {
  background-color: #f0f0f0;
  padding-left: 14px;
}

body.dark-mode .chat-container {
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

body.dark-mode .campo-envio {
  border: 1px solid rgb(99, 99, 99);
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

body.dark-mode .campo-envio button {
  background-color: var(--cor-principal);
}

body.dark-mode .mensagem-propria .texto-mensagem {
  background-color: var(--cor-principal);
  color: #ffffff;
}

body.dark-mode .mensagem-outro .texto-mensagem {
  background-color: #555;
  color: #fff;
}

body.dark-mode #entradaMensagem {
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

#listaUsuarios {
  margin-left: 10px;
  margin-top: -30px;
  right: 20px;
  width: 20%;
  max-width: 60%;
  height: 70vh;
  background-color: var(--cor-padrao-light);
  border-right: 1px solid rgb(204, 204, 204, 0.4);
  overflow-y: scroll;
  padding: 10px;
  color: var(--color-padrao-light);
}

#titulo-chats {
  font-size: 20px;
  position: absolute;
  margin-top: -44px;
  margin-left: 20px;
  font-weight: bolder;
}

#listaUsuarios::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.usuarios {
  margin-top: 20px;
  padding: 10px;
}
.usuario {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: var(--cor-padrao-light);
  color: var(--color-padrao-light);
}

.usuario .foto-container {
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: -4px;
}

.usuario .info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.usuario .nome-usuario {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 73px;
}

.usuario .ultima-mensagem {
  margin-top: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -73px;
  width: 100%;
  max-width: 80%;
}

.usuario:first-child .ultima-mensagem {
  margin-left: -72px;
  width: 100%;
  max-width: 80%;
}

.usuario:hover {
  background-color: var(--cor-fundo-body-light);
  color: #000000;
}

body.dark-mode .usuario {
  background-color: var(--cor-padrao-dark);
  color: var(--color-padrao-dark);
}

body.dark-mode .usuario:hover {
  background-color: #555;
  color: #fff;
}

body.dark-mode #listaUsuarios {
  background-color: var(--cor-padrao-dark);
  border-right: 1px solid rgb(99, 99, 99, 0.4);
  color: var(--color-padrao-dark);
}

body.dark-mode #div-geral-chat {
  background-color: var(--cor-padrao-dark);
}

body.dark-mode .usuario {
  border-bottom: 1px solid rgb(99, 99, 99);
}

@media screen and (max-width: 1016px) {
  #titulo-chats {
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    top: -10px;
    z-index: 1;
    max-height: 10px;
  }

  #nomeConversaAtual {
    width: 94%;
    margin-left: 1%;
    padding: 10px;
    margin-top: -40px;
  }

  #div-geral-chat {
    border-radius: 10px;
    padding-top: 50px;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .chat-container {
    margin-right: 10px;
    width: 90%;
    max-width: 100%;
    height: 70vh;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .campo-envio {
    margin-right: 15px;
    margin-left: 20px;
    width: 100%;
    max-width: 85%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
  }

  #listaUsuarios {
    margin-top: 10px;
    width: 100%;
    max-width: 91%;
    height: 20vh;
    border-right: 1px solid rgb(99, 99, 99, 0) !important;
    overflow-y: scroll;
    padding: 10px;
    color: var(--color-padrao-light);
    border: none;
  }
}

@media screen and (max-width: 690px) {
  #div-geral-chat {
    margin-left: 10px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1800px) {
  #nomeConversaAtual {
    width: 70%;
    margin-left: 23%;
    padding: 10px;
    margin-top: -40px;
  }

  .chat-container {
    margin-right: 10px;
    float: right;
    width: 80%;
    max-width: 75%;
    height: 70vh;
    background-color: var(--cor-padrao-light);
    border-radius: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--color-padrao-light);
  }

  .campo-envio {
    float: right;
    margin-right: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 73%;
    background-color: var(--cor-padrao-light);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    color: var(--color-padrao-light);
    margin-top: -10px;
  }

  #listaUsuarios {
    margin-left: 10px;
    margin-top: -30px;
    right: 20px;
    width: 20%;
    max-width: 60%;
    height: 84vh;
    background-color: var(--cor-padrao-light);
    border-right: 1px solid rgb(204, 204, 204, 0.4);
    overflow-y: scroll;
    padding: 10px;
    color: var(--color-padrao-light);
  }
}

.bolinha-notificacao {
  width: 10px;
  height: 10px;
  background-color: var(--cor-principal);
  border-radius: 50%;
  display: flex;
}
