@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Outfit', sans-serif; /* Troquei o nome da fonte */
}

:root {
    --cor-principal: #225d99;
    --cor-principal-hover: #154a80;
}

main {
    display: flex;
    height: 100%;
    align-items: center;
}

.login-container {
    padding: 200px;
}

.painel-container {
    flex: 1;
    background-color: var(--cor-principal);
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--cor-principal); 
    color: white;
    cursor: pointer;
    transition: 0.3s all linear;
}

input[type="submit"]:hover {
    background-color: var(--cor-principal-hover);
    transition: 0.3s all linear;
}

input:focus {
    outline: 2px solid var(--cor-principal);
    border-radius: 4px;
}

.criar-conta-div {
    margin-top: 10px;
    font-size: 14px;
}

.criar-conta-div a {
    color: var(--cor-principal-hover);
    font-weight: bolder;
    text-decoration: none;
}

.criar-conta-div a:hover {
    color: var(--cor-principal-hover);
    font-weight: bolder;
    text-decoration: none;
}

#view {
    color: var(--cor-principal);
    top: 29px;
    position: relative;
    left: 255px;
    padding: 12px 15px;
}

#view2 {
    color: var(--cor-principal);
    top: 29px;
    position: relative;
    left: 255px;
    padding: 12px 15px;
}