#modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.conteudo-modal {
    color: var(--color-padrao-light);
    background-color: var(--cor-padrao-light);
    margin: 15% auto;
    padding: 20px;
    width: 20%;
    text-align: center;
    border-radius: 7px;
}

.x {
    font-size: 40px;
    color: var(--color-padrao-light);
    float: right;
    margin-top: -20px;
    cursor: pointer;
}

.x:hover,
.x:focus {
    color: var(--color-padrao-light-hover);
}

.conteudo-modal i {
    font-size: 70px;
    color: var(--cor-principal);
    margin-top: 20px;
    margin-left: 30px;
}

.conteudo-modal h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
}

#modal-edicao-concluida .conteudo-modal p {
    margin-top: -10px;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    color: var(--cortextoprincipal);
    text-align: center;
}

#fechar-modal {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-padrao-dark);
    border: none;
    padding: 10px 20px;
    background: var(--cor-principal);
    border-radius: 6px;
    cursor: pointer;
}

#fechar-modal:hover {
    background-color: var(--cor-principal-hover);
}