@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

:root {
    --corprincipal: #225d99;
    --corprincipalhover: #154a80;
    --cor-outline:#e1ad33;
    --corterciaria: #426441;
    --corterciariahover: #2e4b2d;
    --corfundo: #f5f6f6;
    --corfundosecundaria: white;
    --cortextoprincipal: black;
    --cortextoprincipalhover: #d8d8d8;
}

body {
    background-color: var(--corfundo);
    font-family: Outfit;
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 3rem;
}

.nav-logo img {
    display: flex;
    align-items: center;
    width: 150px;
    vertical-align: center;
}

.nav-list,
.nav-lista-direita {
    display: flex;
    align-items: center;
}

.nav-list ul,
.nav-lista-direita ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}
.nav-item.login{
    background-color: hsla(216, 63%, 72%, 0.3);
    border-radius: 10px;
    padding: 8px;
    margin: -8px 3px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.0rem;
    color: var(--cortextoprincipal);
    font-weight: 400;
    padding: 3px 10px;
}

.nav-link:hover {
    text-decoration: none;
    font-size: 1.0rem;
    color: var(--corprincipal);
    border-radius: 5px;
    font-weight: 400;
}

.nav-lista-direita button {
    border: none;
    padding: 10px 38px;
    border-radius: 10px;
    background-color: var(--corprincipal);
    margin-top: -20px;
}

.nav-lista-direita button:hover {
    background-color: var(--corprincipalhover);
}

.nav-lista-direita {
    display: flex;
    align-items: center;
}

.mobile-menu-icone {
    padding: 8px 15px;
    border-radius: 5px;
    display: none;
}

.nav-botao-entre {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--corprincipal);
    color: var(--cortextoprincipal);
    text-decoration: none;
}

.nav-lista-direita button a {
    text-decoration: none;
    color: var(--cortextoprincipal);
    font-weight: 500;
    font-size: 1rem;
    font-weight: bold;
}

.nav-lista-direita button a i {
    color: black;
}

.nav-lista-direita button a i:hover {
    color: black;
    border: none;
}

.mobile-menu {
    display: none;
}

.botao-acessar {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.botao-acessar button {
    padding: 10px 65px;
    font-size: 14px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.botao-acessar button:hover {
    background-color: #cecdcd;
}

.botao-acessar a {
    color: black;
}


.avaliacoes{
    display: flex;
    margin: 15px;
}

.atendimento {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 50px;
    max-width: 850px;
    margin: auto;
    border-radius: 8px;
}
.texto1{
    padding: 60px;
    margin-top: -60px;
}

.texto {
    flex: 1;
    margin-top: -20px;
    /* background-color: #0056b3; */
    margin-right: 40px;
}

.texto h2 {
    font-size: 24px;
    color: #333;
}

.texto p {
    font-size: 14px;
    color: #666;
}

.contatos {
    flex: 1;
}

.contato {
    display: flex;
    align-items: center;
    background-color: var(--corfundosecundaria);
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 10px;
}

.contato img {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

.info h3 {
    font-size: 18px;
    color: var(--corprincipal);
    margin: 0 0 5px 0;
}

.info p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.info a {
    color: var(--corprincipal);
    text-decoration: none;
    font-weight: bold;
}

.info a:hover {
    text-decoration: underline;
}

.feedback {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--corfundosecundaria);
    border-radius: 1rem;
    text-align: center;
}

.feedback h2 {
    font-size: 24px;
    color: var(--corprincipal);
    margin-bottom: 10px;
}

.feedback p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.nome-avaliacao{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
}

.nome-avaliacao .form-group{
    flex: 1;
    margin-top: -20px;
    /* background-color: #0056b3; */
    margin-right: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    background-color: #F5F6F6;
    outline: none;
    font-family: Outfit;
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.form-group textarea{
    background-color: #F5F6F6;
    outline: none;
    font-family: Outfit;
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.form-group textarea {
    height: 100px;
    width: 700px;
    resize: none;
}


.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../../assets/imagens/star-empty.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.rating input:checked ~ label,
.rating input:checked ~ label ~ label {
    background: url('../../../assets/imagens/star-full.svg') no-repeat center;
    background-size: contain;
}

/* .rating input:hover ~ label,
.rating input:hover ~ label ~ label {
    background: url('../../../assets/imagens/star-full.png') no-repeat center;
    background-size: contain;
} */


button[type="submit"] {
    background-color: var(--corprincipal);
    color: var(--corfundo);
    border: none;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 14px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--corprincipalhover);
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 0.5rem 0.5rem;
    }

    .nav-item {
        display: none;
    }

    .nav-lista-direita {
        display: none;
    }

    .mobile-menu-icone {
        display: block;
    }

    .mobile-menu-icone button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        padding-right: 2rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .nav-lista-direita {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .nav-lista-direita button {
        width: 100%;
    }

    .open {
        display: block;
    }

    table {
        margin-left: 0px;
        width: 100%;
    }

    #pag-inicial {
        padding: 0;
    }
    .perguntas-frequentes{
        padding: 0 10vw;
    }

    .atendimento {
        display: block;
    }

    .form-group textarea{
        width: 90%;
    }
    .feedback {
        max-width: 450px;
    }
}